header {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	border-bottom: 1px solid black;
	box-shadow: 0px 5px 10px black;
	
}

body {
	background-image: url(img/fon.jpg);
	
}

.btn-primary>a {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.save {
margin-bottom: 10px;
}

.logo {
	font-size: 30px;
	
}

.first {
	color: #007bff;

}

.logo h1 {
	padding-left: 30px;
}

.nav-link:hover{
	background-color:#121313 ;
	color: #FBFDFF;
}

.content {
	background-color: rgba(255, 255, 255, 0.7);
	margin-top: 10px;
	margin-bottom: 100px;
	border-radius: 5px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	box-shadow: 5px 5px 10px black;

}

footer {
	color: rgb(213, 215, 214);
	border-top: 1px solid black;
	background-color: rgb(52, 58, 64);
	position: fixed;
	bottom: 0;
	width: 100%;
}


